/* Global Styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(240, 255, 241);
}

@font-face {
    font-family: "Garet";
    src: url(fonts/garet/Garet-Book.woff2);
}

@font-face {
    font-family: "Garet Bold";
    src: url(fonts/garet/Garet-Heavy.woff2);
}

.mobile-view {
    display: none;
    visibility: collapse;
}

.dm {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: center;
}

/* Carousel */
.carousel-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-item-head {
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.65) 60%, rgba(255, 255, 255, 0) 100%);
    width: 75%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.carousel-item-text {
    width: 75%;
    height: 100%;

    padding: 0 14vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.carousel-item-text h3 {
    font-style: "Nunito Sans", sans-serif;
    font-size: calc(1.12rem + 1vw);
    line-height: 1em;
}

.carousel-item-text h6 {
    font-style: "Nunito Sans", sans-serif;
    color: rgb(202, 202, 202);
    font-size: calc(0.5rem + 0.4vw);
}

.carousel-item-text button {
    margin: 1vh 0;
}

.carousel-item-emp {
    width: 25%;
    height: 100%;
}

/* Cards */
.card-body {
    padding: 2vh calc(0.91rem + 0.3vw);
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.card-img {
    margin: 0 auto;
    width: 100%;
    height: 40%;
    border-radius: 3px 3px 0 0;
}

.card-title {
    margin: 0 0 1vh 0;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: calc(0.89rem + 0.3vw);
}

.card-location {
    margin: 0 0 1vh 0;
    width: 100%;
    color: rgb(2, 151, 2);
    font-size: calc(0.56rem + 0.3vw);
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}

.card-h-index {
    margin: 0 0 1vh 0;
    width: 100%;
    color: rgb(52, 150, 52);
    font-size: calc(0.56rem + 0.3vw);
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}

.card-rating {
    margin: 0 0 1vh 0;
    width: 100%;
    color: rgb(75, 202, 160);
    font-size: calc(0.56rem + 0.3vw);
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}

.card-text {
    width: 100%;
    font-size: calc(0.52rem + 0.3vw);
    line-height: calc(0.57rem + 0.8vh);
}

#home1 {
    background: url(images/home1.jpg);
}

#home2 {
    background: url(images/login.jpg);
}

#home3 {
    background: url(images/home3.jpg);
}

#home4 {
    background: url(images/home4.jpg);
}

#home5 {
    background: url(images/home5.jpg);
}

#home6 {
    background: url(images/home6.jpg);
}

#comm1 {
    background: url(images/comm1.jpg);
}

#comm2 {
    background: url(images/comm2.jpg);
}

#comm3 {
    background: url(images/comm3.jpg);
}

#comm4 {
    background: url(images/comm4.jpg);
}

#org1 {
    background: url(images/org1.jpg);
}

#org2 {
    background: url(images/org2.jpg);
}

#org3 {
    background: url(images/org3.jpg);
}

#org4 {
    background: url(images/org4.jpg);
}

#surhead1 {
    background: url(images/surhead1.jpg);
}

#surhead2 {
    background: url(images/surhead2.jpg);
}

#surhead3 {
    background: url(images/surhead3.jpg);
}

#sur1 {
    background: url(images/sur1.png);
}

#sur2 {
    background: url(images/sur2.jpg);
}

#sur3 {
    background: url(images/sur3.png);
}

#sur4 {
    background: url(images/sur4.jpg);
}

#sur5 {
    background: url(images/sur5.png);
}

#sur6 {
    background: url(images/sur6.jpg);
}

#sur7 {
    background: url(images/sur7.jpg);
}

#sur8 {
    background: url(images/sur8.jpg);
}

#sur9 {
    background: url(images/sur9.png);
}

#sur10 {
    background: url(images/sur10.jpg);
}

#sur11 {
    background: url(images/sur11.jpg);
}

#sur12 {
    background: url(images/sur12.jpg);
}

#home1,
#home2,
#home3,
#home4,
#home5,
#home6,
#comm1,
#comm2,
#comm3,
#comm4,
#org1,
#org2,
#org3,
#org4,
#surhead1,
#surhead2,
#surhead3,
#sur1,
#sur2,
#sur3,
#sur4,
#sur5,
#sur6,
#sur7,
#sur8,
#sur9,
#sur10,
#sur11,
#sur12 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation Bar */
.navbar-container {
    font-family: "Garet";
    margin: 0 auto;
    position: fixed;

    z-index: 999;

    display: flex;
    justify-content: center;

    height: 60px;
    width: 100%;
    background: rgb(99, 230, 88);
    background: linear-gradient(135deg, rgba(99, 230, 88, 1) 0%, rgba(101, 244, 141, 1) 33%, rgba(76, 235, 192, 1) 66%, rgb(110, 230, 206) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-container.dark-mode {
    background: linear-gradient(90deg, rgba(78,106,82,1) 0%, rgba(80,108,95,1) 33%, rgba(74,102,95,1) 66%, rgba(78,110,108,1) 100%);
}

.navbar-container-home {
    font-family: "Garet";
    margin: 0 auto;
    position: fixed;

    z-index: 999;

    display: flex;
    justify-content: center;

    height: 60px;
    width: 100%;
    background: rgb(99, 230, 88);
    background: linear-gradient(135deg, rgba(100, 230, 88, 0.911) 0%, rgba(101, 244, 141, 0.89) 33%, rgba(76, 235, 192, 0.89) 66%, rgba(116, 255, 227, 0.5) 100%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 25px -5px, rgba(0, 0, 0, 0.14) 0px 10px 10px -5px;
}

.navbar-edges {
    margin: 0 auto;
    position: absolute;
    padding: 0 4vw;

    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-section {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}

.navbar-links {
    margin: 0 auto;
    position: absolute;

    height: 100%;
    width: 45vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: calc(0.7em + 0.3vw);
}

.nav-item {
    display: flex;
    margin: 0 0.5vw;
}

.nav-login {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.nav-link {
    padding: 2px 6px;

    border: solid 0.6px rgba(255, 255, 255, 0);
    border-radius: 4px;

    color: rgb(255, 255, 255);
    font-family: "Garet";
    text-align: center;
}

.nav-link:hover {
    border: solid 0.6px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 4px;

    color: white;
}

.onpage,
.onpage:hover {
    border: solid 0.6px white;
    background-color: white;
    border-radius: 4px;

    cursor: default;
    font-family: "Garet";
}

.on-home,
.on-home:hover {
    color: rgb(99, 230, 88);
}

.on-donate,
.on-donate:hover {
    color: rgb(112, 236, 133);
}

.on-market,
.on-market:hover {
    color: rgb(101, 244, 173);
}

.on-about,
.on-about:hover {
    color: rgb(76, 235, 192);
}

.on-contact,
.on-contact:hover {
    color: rgb(102, 233, 207);
}

/* Home.html */
#home-page {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background: rgb(99, 230, 88);
    background: linear-gradient(135deg, rgb(159, 219, 154) 0%, rgb(182, 240, 199) 33%, rgb(131, 185, 171) 66%, rgb(177, 250, 235) 100%);

    color: white;
    font-family: "Nunito Sans", sans-serif;

    position: relative;
}

#home-carousel {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: rgb(99, 230, 88);
    background: linear-gradient(135deg, rgb(159, 219, 154) 0%, rgb(182, 240, 199) 33%, rgb(131, 185, 171) 66%, rgb(177, 250, 235) 100%);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    font-family: "Nunito Sans", sans-serif;
}

.home-carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item-home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.75) 20%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.carousel-home-text {
    width: 75%;
    height: 100%;

    padding: 0 14vw 25vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.carousel-home-text a button {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.carousel-home-text h3 {
    font-style: "Nunito Sans", sans-serif;
    font-size: calc(1.12rem + 1.5vw);
    line-height: 1em;
}

.carousel-home-text h6 {
    font-style: "Nunito Sans", sans-serif;
    color: rgb(202, 202, 202);
    font-size: calc(0.7rem + 0.4vw);
}

.carousel-home-text button {
    margin: 1vh 0;
}

.carousel-home-emp {
    width: 25%;
    height: 100%;
    visibility: visible;
}

/* Donations.html */
section#donate-page {
    margin: 0 auto;
    padding: 60px 4.6vw;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
}

#donate-header {
    margin: 2vh 0 0vh 0;
    height: 34vh;
    width: 100%;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.678);

    color: white;
    font-family: "Nunito Sans", sans-serif;
}

#donate-carousel,
.donate-carousel-item {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.donate-carousel-item {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.donate-carousel {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#donor1,
#donor2,
#donor3 {
    height: 100%;
    width: 100%;
}

#donor1 {
    background: url(images/donor1.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 10%;
    background-repeat: no-repeat;
}

#donor2 {
    background: url(images/donor2.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
}

#donor3 {
    background: url(images/donor3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.donate-card-section {
    width: 100%;
    margin: 3.8vh 0;
    position: relative;
}

.section-two {
    margin: 2vh 0;
}

.donate-card-section h2 {
    margin: 1.8vh 0 1.2vh 3.4vh;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: rgb(32, 36, 32);
}

.donate-card-row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.donate-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 18.73vw;
    height: 23.96vw;
    min-width: 200px;
    min-height: 330px;
    margin: 2.4vh 1vw;
}

/* Surplus.html */
#surplus-carousel,
.surplus-carousel-item {
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.surplus-carousel-item {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.surplus-carousel {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#surhead1,
#surhead2,
#surhead3 {
    border-radius: 8px 8px 0 0;
    height: 100%;
    width: 100%;
}

/* About-Us.html */
.main-section {
    position: relative;
    padding: 80px 0;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.main-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.main-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.main-section .img-fluid {
    width: 100%;
    height: auto;
}

.main-container {
    margin: 0 auto;
    padding: 0 15px;

    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.about-us-container {
    height: 153vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.about-us-item {
    width: 50%;
    height: 100%;
    padding: 0 2vw;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-us-content {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about-us-text {
    width: 100%;
    height: 60%;
    margin: 1vh 1vw;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about-us-text p {
    font-size: calc(0.5rem + 0.8vw);
}

.about-us-img {
    border-radius: 5px;
}

.mission-image, .vision-image {
    width: 30vh;
    height: 30vh;
    margin-bottom: 30px;
    text-align: center;
}

.business-container {
    height: 10vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.business {
    padding: 1vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.business p {
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.team {
    text-align: center;
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    width: 17vw;
    margin: 10px;

    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.team-member-img {
    width: 100%;
    height: 70%;
    border-radius: 4px;
}

.team-member-text {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.team-member-text h3 {
    font-size: calc(0.7rem + 1vw);
}

#tm1 {
    background: url(images/tm1.jpg);
}
#tm2 {
    background: url(images/tm2.jpg);
}
#tm3 {
    background: url(images/tm3.jpg);
}
#tm4 {
    background: url(images/tm4.jpg);
}
#tm5 {
    background: url(images/tm5.jpg);
}

#tm1, #tm2, #tm3, #tm4, #tm5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-up.active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1s, transform 0.5s ease-out;
}

/* Login.html */
section.entire-screenwide {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    z-index: 1;
}

#login-page-left {
    margin: 0 auto;
    position: relative;

    width: 45%;
    height: 100%;
    background: linear-gradient(135deg, rgba(99, 230, 88, 1) 0%, rgba(101, 244, 141, 1) 33%, rgba(76, 235, 192, 1) 66%, rgba(133, 255, 231, 1) 100%);

    display: flex;
    align-items: center;
    flex-direction: column;
}

#login-title {
    margin: 2vh 0vh;
    position: relative;
    width: 90%;
    height: 100px;
}

#login-brand {
    position: absolute;
}

#login-container {
    position: relative;
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
}

#signup {
    background: linear-gradient(135deg, rgba(99, 230, 88, 1) 0%, rgba(101, 244, 141, 1) 33%, rgba(76, 235, 192, 1) 66%, rgba(133, 255, 231, 1) 100%);
}

#signup-container {
    position: relative;
    width: 50%;
    height: 90%;

    display: flex;
    justify-content: center;
}

#login-card {
    position: relative;
    padding: 2.14vh 4.39vw;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#login-fields h2 {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: -0.03em;
}

.form-group {
    height: 40px;
    position: relative;
    margin-bottom: 2vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#username,
#email,
#password {
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0.438);

    color: rgb(41, 41, 41);
    font-family: "Nunito Sans", sans-serif;

    position: absolute;
    z-index: 5;
}

#username::placeholder,
#email::placeholder,
#password::placeholder {
    color: rgb(64, 65, 64);
}

#username:focus,
#email:focus,
#password:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error-message {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 6;

    font-family: "Nunito Sans", sans-serif;
    font-size: 0.89em;
    border: solid 2px white;
    background: linear-gradient(135deg, rgb(182, 240, 199) 0%, rgb(164, 230, 212) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 6px;
    height: 50px;
    width: 50%;
    color: rgb(56, 56, 56);
}

#user-error,
#email-error,
#pass-error {
    visibility: collapse;
}

.pass-valid {
    font-size: 0.68em;
}

.form-check {
    position: relative;
    margin-bottom: 2vh;
}

.form-check-label {
    font-family: "Nunito Sans", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#rememberMe {
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0.438);
    box-shadow: none;
    color: rgb(56, 56, 56);
}

#rememberMe:checked {
    background-color: rgb(255, 255, 255);
}

.form-login {
    position: relative;
    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-login {
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
    height: 40px;
    width: 30%;
    min-width: 130px;
    color: rgb(105, 105, 105);
}

#login-login:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

#forgot-pass {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#login-signup {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

#login-other-options {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#login-op-divider {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 2vh;
}

#login-op-divider h6 {
    margin: 0 auto;
    padding: 0 1.6vh;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-op {
    background-color: #ffffff80;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}

.login-op-container {
    margin: 0.5vh 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.login-op-container button {
    max-width: 27vw;
    min-width: 24vw;
}

.login-fb {
    background-color: rgb(3, 41, 255);
    color: white;
}

.login-fb:hover {
    background-color: rgb(1, 31, 202);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.login-fb:active:focus {
    background-color: rgb(1, 31, 202);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.login-google {
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
}

.login-google:hover {
    background-color: white;
    color: rgb(51, 51, 51);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.login-google:active:focus {
    background-color: white;
    color: rgb(51, 51, 51);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

#login-page-bg {
    margin: 0 auto;
    position: relative;
    width: 55%;
    height: 100%;

    background: url(images/login.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-upper-shadow {
    width: 100%;
    height: 70px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);

    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.login-lower-shadow {
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);

    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.login-upper-text {
    margin-top: 3vh;
    margin-right: 1.3vw;

    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.login-lower-text {
    margin-bottom: 3vh;
    margin-right: 1.3vw;

    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

/* Contact-Us */
.contact-page {
    position: relative;
    display: flex;
    padding-top: 60px;
    
    justify-content: center;
    width: auto;
    align-items: center;
}

.contact-container {
    display: flex;
    padding: 2.5vw;
    justify-content: center;
    width: auto;
    align-items: center;
}

#contact-info-box {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
}

.contact-info p {
    margin: 0;
}

/* Void.html */
#void-page {
    position: relative;
    padding: 0 5vh 7vh 5vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#void-text {
    margin: 3vh 0;
}

#void-text h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: calc(1.12rem + 1vw);
}

#void-text h4 {
    font-family: "Nunito Sans", sans-serif;
    font-size: calc(0.8rem + 1vw);
}

#void-text h5 {
    font-family: "Nunito Sans", sans-serif;
    font-size: calc(0.7rem + 0.7vw);
}

#void-text h6 {
    font-size: calc(0.5rem + 0.4vw);
}

#void-logo {
    width: 18.84vw;
    height: 5.4vw;
    min-width: 200px;
    min-height: 56.59px;
    background: url(logos/TLB.png);
    background-size: cover;
}

#dark-mode {
    background: linear-gradient(90deg, rgba(78,106,82,1) 0%, rgba(80,108,95,0.6587009803921569) 33%, rgba(74,102,95,1) 66%, rgba(78,110,108,0) 100%);
}